div {
    /* border: 1px grey solid; */
}
/* #region Global styles*/
html, body {
    margin:0;
    padding:0;
    font-family: 'Signika', sans-serif;
}
h1 {
    font-weight: normal;
    color: #0d65f8;
    font-size: 48px;
    width: 580px;
    font-weight: bold;
    left: 120px;
    position: absolute;
    z-index: 1;
    top: 35px;
}
h2 {
    color: #0D65F8;
    font-weight: bold;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 17px;
}
/* #endregion */
/* #region Buttons*/
button {
    border: 1px #976900 solid;
    background-image: linear-gradient(#F6DA9F, #EFC25D);
    border-radius: 3px;
    font-family: 'Signika', sans-serif;
}
button.narrow {
    text-align: center;
    display: inline-block;
    width: 100px;
    height: 45px;
    font-size: 14px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}
button.wide {

}
.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 136px;
    margin-right: 21px;
}    .select select {
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 10px 15px;
        border: 1px solid #BFBFBF;
        background: #ffffff;
        color: #000000;
        -moz-appearance: none;
        border-radius: 3px;
        height: 45px;
        font-size: 12px;
    }
        .select select::-ms-expand {
            display: none;
        }
        .select select:hover,
        .select select:focus {
            color: #000000;
            background: #cccccc;
        }
        .select select:disabled {
            opacity: 0.5;
            pointer-events: none;
        }
.select_arrow {
    position: absolute;
    right: 15px;
    top: 16px;
    border: solid #000;
    height: 0px;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-color: #000000;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}
/* #endregion */
/* #region Top banner*/
.top-banner {
    height: 70px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px #BFBFBF solid;
    background-color: white;
    z-index: 1;
    position: relative;
}
#logo {
    height: 75%;
}
.logo-box {
    display: grid;
    position: absolute;
    grid-template-columns: 52px auto;
    top: 17px;
    left: 120px;
}
nav.top-menu {
    text-align: center;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
}
nav.top-menu li {
    display: inline;
    margin: 10px;
    color: #515050;
    font-size: 13px;
}
.sign-up{
    position: relative;
    margin-top: 12px;
    margin-left: auto;
    margin-right: 70px;
}
/* #endregion */
/* #region Hero*/
.hero {
    width: 100%;
    position: relative;
    height: 370px;
}
#hero-image {
    height: 430px;
    float: right;
    position: relative;
    z-index: 0;
    top: -60px;
}
.search {
    position: absolute;
    left: 120px;
    top: 270px;
    height: 41px;
    width: 450px;
    border-radius: 3px;
    border: #e3e2e2 1px solid;
    background-color: #f1f6f9;
    padding-left: 15px;
    font-size: 12px;
    box-shadow: 0px 0px 2px 0px #888;
}
.search::placeholder {
    color: #807e7e;
}
#search {
    position: absolute;
    left: 610px;
    top: 270px;
}
.subtext {
    position: absolute;
    left: 120px;
    top: 310px;
    color: #aaaaaa;
}
/* #endregion */
/* #region Item cards*/
.products {

}
.product-headers {
    height: 70px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
    z-index: 1;
    position: relative;
}
.best-prices {
    
}
.select2 {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 156px;
    left: 120px;
    margin-right: 21px;
    top: 13px;
}    .select2 select {
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 10px 15px;
        border: 1px solid #BFBFBF;
        background: #ffffff;
        color: #000000;
        -moz-appearance: none;
        border-radius: 3px;
        height: 45px;
        font-size: 12px;
    }
        .select2 select::-ms-expand {
            display: none;
        }
        .select2 select:hover,
        .select2 select:focus {
            color: #000000;
            background: #cccccc;
        }
        .select2 select:disabled {
            opacity: 0.5;
            pointer-events: none;
        }
.select_arrow {
    position: absolute;
    right: 15px;
    top: 16px;
    border: solid #000;
    height: 0px;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-color: #000000;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}
nav.sub-nav {
    text-align: center;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
}
nav.sub-nav li {
    display: inline;
    margin: 10px;
    color: #515050;
    font-size: 13px;
}
a {
    text-decoration: none;
    color: #515050;
}
nav.sub-nav li:focus{
    border: green 1px solid;
    
}
.filter-icon {
    right: 70px;
    position: absolute;
}
.product-carousel {
    display: flex;
    width: 100%;
    overflow: auto;
    justify-content: center;
}
.product {
    border: 1px #BFBFBF solid;
    margin: 20px;
    border-radius: 5px;
    width: 225px;
    position: relative;
    height: 316px;
}
.best-price {
    color: white;
    background: #2abfb5;
    width: 70px;
    border-radius: 45px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    height: 25px;
    top: 5px;
    left: 139px;
    font-size: 14px;
    position: absolute;
    display: grid;
    align-content: center;
}
.prod-name {
    font-size: 14px;
    margin: 15px;
}
.prod-pic{
    width: 225px;
}
.prices {
    margin: 15px;
}
.current-price {
    float: left;
}
.price-head {
    font-size: 10px;
}
.buy-now {
    height: 41px;
    width: 140px;
    text-align: center;
    font-size: 13px;
    margin-left: 43px;
    margin-top: 17px;
}
.current-price-value {
    color: #2abfb5;
}
.high-price {
    float: right;
}
.high-price-value {
    
}
/* #endregion */
/* #region Subscribe*/
/* #endregion */
/* #region Footer*/
/* #endregion */